.o_form_editable .o_field_widget .o_input{
//     background-color: #e7d3b7 !important;
    color: #000000 !important;
    padding: 3px;
    border-width: 0 0 1px 0;
    box-shadow: 0 1px 0 0 #000000;
    margin-bottom: -1px;
}







