<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="crm_menu_leads"
                  name="LEAD"
                  parent="crm.crm_menu_root"
                  action="crm.crm_lead_action_pipeline"
                  sequence="1"
        />
        <record id="make_invisible" model="res.groups">
            <field name="name">Invisible</field>
        </record>
        <record model="ir.ui.menu" id="crm.crm_menu_sales">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="crm.crm_menu_report">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
        <record model="ir.ui.menu" id="crm.crm_menu_leads">
            <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
        </record>
    </data>
</odoo>